---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Projects from '../components/Projects.astro';
import Tools from '../components/Tools.astro';
import AboutMe from '../components/AboutMe.astro';
import Footer from '../components/Footer.astro';
import WorkExperience from '../components/WorkExperience.astro';
---

<Layout title="Juan Buenrostro | JuanMBV">
	<main>
		<Header />
		<Intro />
		<WorkExperience />
		<Projects />
		<Tools />
		<AboutMe />
		<Footer />
	</main>
</Layout>
