---
import AboutIcon from './icons/AboutIcon.astro'
---

<section class="flex flex-col justify-start max-w-4xl pb-14">
  <div class="flex flex-row justify-start items-start gap gap-4">
    <AboutIcon class="size-8" />
    <h2 id="about" class="text-3xl font-semibold">
      About Me
    </h2>
  </div>

  <div class="flex flex-row items-center gap-x-4">
    <p class="text-lg">
      I'm a mexican developer with a passion for building and designing web applications. I'm currently <span class="text-blue-500">studing Computer Systems Engineering</span> at <span class="text-blue-500">Tecnologico de Saltillo</span>. I'm passionate about learning new technologies and building applications that solve real-world problems.
    </p>
    <img src="../public/juanyoshi.webp" alt="me" class="size-52 rounded-sm border-black border-4 rotate-3">
  </div>
</section>