<header class="pt-10 mx-auto max-w-xl">

	<nav class="flex flex-row items-center gap gap-6 justify-center w-full text-center">
		<a href="#work_experience" class="text-lg font-semibold text-white hover:text-blue-500">Work Experience</a>
		<a href="#projects" class="text-lg font-semibold text-white hover:text-blue-500">Projects</a>
		<a href="#tools" class="text-lg font-semibold text-white hover:text-blue-500">Tools</a>
		<a href="#about" class="text-lg font-semibold text-white hover:text-blue-500">About me</a>
		<a href="mailto:juanmbv.31@gmail.com" class="text-lg font-semibold text-white hover:text-blue-500">Contact</a>  
	</nav>

</header>