---

---

<header class="pt-10 pb-20 mx-auto max-w-xl">

	<nav class="flex flex-row items-center gap gap-4 justify-center w-full text-center">
		<a href="/" class="text-lg font-semibold text-white hover:text-blue-500">About</a>
		<a href="/" class="text-lg font-semibold text-white hover:text-blue-500">Projects</a>
		<a href="/" class="text-lg font-semibold text-white hover:text-blue-500">Tools</a>
		<a href="/" class="text-lg font-semibold text-white hover:text-blue-500">Contact</a>  
	</nav>

</header>